:root {
    --primary: #bec6cc;
    --white: #FFF;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: #f4f6fa;
}

h1 {
    color: #FFF;
}

h2 {
    margin-left: 10px;
    line-height: 1.5;
    margin-bottom: 28px;
    font-weight: 400;
    color: rgb(24 22 22 / 70%) !important;
    font-family: 'Montserrat', sans-serif;
}

.cadastro-usuario {
    height: 100% !important;
    width: 50% !important;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: var(--white);
    height: auto;
    width: auto;
    border-radius: 0 5px 5px 0;
}

.cadastro-usuario {
    -webkit-animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.linha {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media (max-width: 1250px) {
    .linha {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

input {
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: rgb(24 22 22 / 70%) !important;
    padding: 6px 12px 6px 38px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

input:focus {
    border-color: #4AD395;
    box-shadow: none;
    outline: none;
}

.margin-bottom {
    margin-bottom: 10px;
}

.inputs-cadastro {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#mensagem_retorno_cadastro {
    margin-left: 10px !important;
}

button {
    width: 120px;
    height: 48px;
    border-radius: 4px;
    display: block;
    background: #89a99a !important;
    border: 1px solid #89a99a !important;
    box-shadow: none !important;
    font-size: 15px;
    padding: 10px 20px;
    color: #fff !important;
    font-weight: 500;
    margin-left: 11px;
    font-family: ui-sans-serif;
}

.logo-home {
    line-height: 1.5;
    margin-bottom: 28px;
    font-weight: 400;
    color: gray;
    width: 50%;
    height: 100%;
    background: transparent;
    background-image: url(../imagens/home.jpg);
    background-size: cover;
    border-radius: 5px 0 0 5px;
}

.container-home {
    border-radius: 8px;
    box-shadow: -5px 0px 55px -23px #1f1c1c;
    width: 80%;
    height: 75%;
    display: flex;
    justify-content: center;
}

.container-login {
    width: 80%;
}

label {
    color: rgb(24 22 22 / 70%) !important;
}

.body-dashboard {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: start;
}

.app-bar {
    background: #8cb291 !important;
    height: 120px;
    width: 100%;
    padding: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 12%;
}

.container-perfil-right {
    width: 25% !important;
    height: 40px;
    display: flex;
    justify-content: end;

}

.container-perfil-left {
    width: 25% !important;
    height: 40px;
    display: flex;
    justify-content: start;
}

a {
    text-decoration: none;
    color: #FFF;
    margin-left: 10px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}

a:hover {
    background: #f4f6fa;
    color: #3cb24a !important;
}

.icon_perfil {
    background: #f4f6fa;
    color: #3cb24a !important;
}

.modal-perfil-user {
    display: flex;
    flex-direction: column;
    background: #ffffff !important;
    width: 300px;
    height: 300px;
    position: absolute;
    right: 42px;
    top: 88px;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.remove-modal-perfil-user {
    display: none !important;
}

.container-picture-perfil {
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: center;
    border-radius: 6px 6px 0 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.picture-perfil-none {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgb(24 22 22 / 70%) !important;

}

.container-picture-perfil-button {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px 6px 0 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.picture-perfil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container-informacoes-perfil {
    width: calc(100% - 20px);
    display: flex;
    justify-content: start;
    margin-bottom: 3px;
    color: rgb(24 22 22 / 70%) !important;
    padding: 10px;
    border-radius: 8px;
}

.container-informacoes-perfil:hover {
    background: #f4f6fa;
}

input[type="file"] {
    display: none;
}

#label_imagem_perfil {
    text-decoration: none;
    background: #f4f6fa;
    color: #3cb24a !important;
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
}

#salvar-imagem {
    margin-top: 5px;
}

@media only screen and (max-width: 480px) {
    .container-perfil-left {
        display: none;
    }

    .container-perfil-right {
        display: none;
    }

    .cadastro-usuario {
        width: 100% !important;
        padding: 10pxs;
    }

    .logo-home {
        display: none;
    }
}

.linha-user-email {
    display: none !important;
}

.linha-user-email-block {
    border-radius: 0 0 8px 8px !important;
    box-shadow: 0 3px 7px rgb(0 0 0 / 30%);
    margin-top: -7px !important;
    color: #8cb291 !important;
    background: #f4f6fa;
    display: block;
    padding: 15px;
    width: 60%;
    margin: 10px;
    z-index: 1;
}

.container-alunos {
    background: #fff;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10PX;
    border-radius: 8px;
    height: 83%;
}

.user {
    z-index: 1;
    background: #8cb291;
    padding: 15px;
    width: 60%;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    color: #FFF !important;
    margin-top: -9px;
}

.user:hover {
    background: #f4f6fa;
    color: #8cb291 !important;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.user:hover>.material-symbols-outlined-icon {
    color: #8cb291;
}

.user-selected {
    z-index: 1;
    background: transparent;
    padding: 15px;
    border-radius: 8px;
    width: 60%;
    margin: 10px;
    background: #8cb291 !important;
    color: #FFF !important;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    margin-top: -9px;
}

.user-selected:hover>.material-symbols-outlined-icon {
    color: #FFF;
}

.user-selected:hover {
    background: #f4f6fa;
    color: #FFF !important;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.title-lista-alunos {
    display: flex;
    width: 100%;
    justify-content: start;
    margin-left: 1%;
}

.material-symbols-outlined-icon {
    display: flex;
    color: #fff;
    align-items: center;
}

.material-symbols-outlined-icon:hover {
    color: #8cb291;
}

#add-treino {
    height: 30px;
    background: #f4f6fa !important;
    color: #3cb24a !important;
    margin-left: 10px !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    padding: 0px 2px 0px 2px !important;
}

#expand_more {
    cursor: pointer !important;
}

.container-adicionar-alunos {
    width: 100%;
    display: flex;
}
.subcontainer-adicionar-alunos{
    width: 50%;
}
#add{
    cursor: pointer !important;
}

.container-sub-cadastro-usuario{
    width: 100% !important;
}
